In [66]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [13]:
df = pd.read_csv('./name_gender_dataset.csv', index_col=[0])

In [14]:
df.columns

Index(['name', 'sex'], dtype='object')

In [15]:
df.head()

    name sex
0  Abebe   M
1  Abebi   F
2   Abel   M
3  Abena   F
4  Abeni   F

In [16]:
df['sex'].unique()

array(['M', 'F', nan, 'F"sunny child."',
       'MCompare with another form of Masa.'], dtype=object)

In [17]:
test_df = df[df['sex'].isna()]

In [18]:
df = df[~df['sex'].isna()]

In [19]:
df = df[df['sex']!='F"sunny child."']

In [20]:
df = df[df['sex']!='MCompare with another form of Masa.']

In [21]:
df['gender_encoding'] = df['sex'].apply(lambda x: 0 if x=='M' else 1)

In [22]:
feature_cols = ['name_embedding','gender_encoding']

In [32]:
df.head()

    name sex  gender_encoding
0  Abebe   M                0
1  Abebi   F                1
2   Abel   M                0
3  Abena   F                1
4  Abeni   F                1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96572 entries, 0 to 96692
Data columns (total 3 columns):
name               96572 non-null object
sex                96572 non-null object
gender_encoding    96572 non-null int64
dtypes: int64(1), object(2)
memory usage: 2.9+ MB

In [55]:
vectorizer = CountVectorizer()

In [56]:
X = vectorizer.fit_transform(df['name'])
y = df['gender_encoding']

In [57]:
train, test, train_labels, test_labels = train_test_split(X, y, test_size=0.25, random_state=42)

In [67]:
clf = MultinomialNB()
clf.fit(train,train_labels)
clf.score(test,test_labels)*100

63.72033301578097

In [88]:
def predict_gender(text):
    vect = vectorizer.transform([text]).toarray()
    if clf.predict(vect) == 0:
        print('Male')
    else:
        print('Female')

In [95]:
predict_gender('mike')

Male